<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liy.mapper.ArticleMapper">

    <resultMap id="selectArticleByIdToVOMap" type="com.liy.vo.article.ApiArticleInfoVO">
        <result column="id" jdbcType="BIGINT" property="id"/>
        <result column="user_Id" jdbcType="VARCHAR" property="userId"/>
        <result column="nickname" jdbcType="VARCHAR" property="nickname"/>
        <result column="avatar" jdbcType="VARCHAR" property="avatar"/>
        <result column="title" jdbcType="VARCHAR" property="title"/>
        <result column="summary" jdbcType="VARCHAR" property="summary"/>
        <result column="content" jdbcType="VARCHAR" property="content"/>
        <result column="content_md" jdbcType="INTEGER" property="contentMd"/>
        <result column="is_original" jdbcType="INTEGER" property="isOriginal"/>
        <result column="original_url" jdbcType="VARCHAR" property="originalUrl"/>
        <result column="keywords" jdbcType="VARCHAR" property="keywords"/>
        <result column="address" jdbcType="VARCHAR" property="address"/>
        <result column="is_publish" jdbcType="INTEGER" property="isPublish"/>
        <result column="quantity" jdbcType="INTEGER" property="quantity"/>
        <result column="create_time" jdbcType="DATE" property="createTime"/>
        <result column="update_time" jdbcType="VARCHAR" property="updateTime"/>
        <result column="read_type" jdbcType="INTEGER" property="readType"/>
        <association property="category" javaType="com.liy.entity.Category">
            <id property="id" column="cid" jdbcType="BIGINT"></id>
            <result property="name" column="cname" jdbcType="VARCHAR"></result>
        </association>
    </resultMap>


    <select id="selectArticle" resultType="com.liy.vo.article.SystemArticleListVO">
        SELECT
        a.id,
        a.title,
        a.avatar,
        a.is_original,
        a.is_stick,
        a.read_type,
        a.is_publish,
        a.create_time,
        (select name from b_category  where id =  a.category_id) AS categoryName,
        (select nickname from b_user  where id =  a.user_id) AS nickname,
        (SELECT GROUP_CONCAT(t.NAME SEPARATOR ',') FROM b_tags t JOIN b_article_tag atg ON t.id = atg.tag_id WHERE atg.article_id = a.id) AS tagNames
        FROM
        b_article a
        WHERE
        1 = 1
        <if test="title != null and title != ''">
            AND a.title LIKE CONCAT('%',#{title},'%')
        </if>
        <if test="categoryId != null and categoryId != ''">
            AND a.category_id=#{categoryId}
        </if>
        <if test="isPublish != null and isPublish != ''">
            AND a.is_publish=#{isPublish}
        </if>
        <if test="tagId != null and tagId != ''">
            AND EXISTS (SELECT 1 FROM b_article_tag atg JOIN b_tags t ON atg.tag_id = t.id WHERE atg.article_id = a.id AND t.id=#{tagId})
        </if>
        GROUP BY a.id
        ORDER BY a.is_stick DESC, a.create_time DESC

    </select>

    <select id="selectArticlePrimaryKey" resultType="com.liy.dto.article.ArticleDTO">
        select a.id,
               a.title,
               a.avatar,
               a.summary,
               a.quantity,
               a.content,
               a.content_md,
               a.read_type,
               a.is_stick,
               a.is_publish,
               a.is_original,
               a.original_url,
               a.create_time,
               b.name as categoryName,
               a.is_carousel,
               a.keywords,
               a.is_recommend
        from b_article a
                 LEFT JOIN (SELECT id, name from b_category) b on a.category_id = b.id
        where a.id = #{id}
    </select>

    <select id="contribute" resultType="com.liy.vo.article.SystemArticleContributeVO">
        select count, date
        from
            (SELECT
            count(id) as 'count', DATE(create_time) as date
            FROM
            `b_article`
            where DATE_FORMAT(create_time, '%Y-%m-%d') between #{lastTime} and #{nowTime}
            GROUP BY DATE(create_time)) AS blog
        ORDER BY blog.date ASC
    </select>


    <update id="putTopArticle">
        update b_article
        set is_stick = #{article.isStick}
        where id = #{article.id}
    </update>
    <select id="selectSearchArticle" resultType="com.liy.vo.article.ApiArticleSearchVO">
        select a.id,
               a.title,
               a.summary,
               a.is_stick,
               a.create_time
        from b_article a
        where LOWER(a.title) like concat('%', #{keywords}, '%') and a.is_publish = 1 order by a.create_time desc
    </select>

    <select id="selectPublicArticleList" resultType="com.liy.vo.article.ApiArticleListVO">
        SELECT
        a.id,
        a.title,
        a.avatar,
        a.summary,
        a.quantity,
        a.is_stick,
        a.is_original,
        a.user_id,
        c.id AS categoryId,
        c.NAME AS categoryName,
        a.create_time,
        u.nickname,
        u.avatar AS userAvatar
        FROM
        b_article a
        LEFT JOIN b_category c ON a.category_id = c.id
        LEFT JOIN b_user u ON a.user_id = u.id
        WHERE
        a.is_publish = 1
        <if test="categoryId != null and categoryId != 0">
           and a.category_id = #{categoryId}
        </if>
        <if test="tagId != null">
            and a.id in (select article_id from b_article_tag where tag_id =#{tagId})
        </if>
         order by a.is_stick desc,
        <choose>
            <when test="orderByDescColumn != null and orderByDescColumn != ''">
                    a.${orderByDescColumn} desc
            </when>
            <otherwise>
                a.create_time desc
            </otherwise>
        </choose>
    </select>

    <select id="selectListArchive" resultType="com.liy.vo.article.ApiArchiveVO">
        select id,
               title,
               DATE_FORMAT(create_time, '%Y-%m') as 'time', create_time as formatTime
        from b_article where is_publish = 1
        order by create_time desc
    </select>
    <select id="selectArticleByIdToVO" resultMap="selectArticleByIdToVOMap">
        select a.id,
               a.user_id,
               u.avatar,
               u.nickname,
               a.title,
               a.summary,
               a.content,
               a.content_md,
               a.quantity,
               a.create_time,
               a.update_time,
               a.read_type,
               a.is_original,
               a.original_url,
               a.is_publish,
               a.keywords,
               a.address,
               c.id   as cid,
               c.name as cname
        from b_article a
                 left join b_category c on a.category_id = c.id
                 left join b_user u on a.user_id = u.id
        where a.id = #{id}
    </select>
    <select id="selectListByBanner" resultType="com.liy.vo.article.SystemArticleListVO">
        select id, title, avatar
        from b_article
        where is_carousel = 1 and is_publish = 1
        order by is_stick desc ,create_time desc
    </select>

    <select id="selectRecommendArticle" resultType="com.liy.vo.article.ApiArticleListVO">
        select id, title, avatar,create_time
         from b_article where is_recommend = 1
        order by create_time desc limit 5
    </select>

    <select id="selectHotArticleList" resultType="com.liy.vo.article.ApiArticleListVO">
        select id, title
        from b_article where is_publish = 1
        order by quantity desc limit 5
    </select>
    <select id="selectMyArticle" resultType="com.liy.vo.article.ApiArticleListVO">
        SELECT
        a.*,
        u.nickname AS username,
        b.NAME AS categoryName,
        b.id AS categoryId
        FROM
        b_article a
        left JOIN b_category b ON a.category_id = b.id
        left JOIN b_user u ON a.user_id = u.id
        where a.user_id =#{userId}
        <if test="type != null and type != ''">
            and a.is_publish = #{type}
        </if>
        order by a.create_time desc
    </select>
    <select id="selectMyArticleInfo" resultType="com.liy.dto.article.ArticlePostDTO">
        SELECT
            *
        FROM
            b_article
        where id = #{id}
    </select>
</mapper>
