<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liy.mapper.ImMessageMapper">


    <update id="updateRead">
        update b_im_message set is_read = 1 where from_user_id = #{fromUserId} and to_user_id=#{toUserId} and is_read = 0
    </update>


    <select id="selectPublicHistoryList" resultType="com.liy.vo.message.ImMessageVO">
        SELECT u.avatar as fromUserAvatar, u.nickname as fromUserNickname,im.*
        FROM b_im_message im
                 left join b_user u on im.from_user_id = u.id
        where im.to_user_id is null
        order by im.create_time desc
    </select>
    <select id="selectPublicOnlineUserList" resultType="com.liy.vo.user.ImOnlineUserVO">
        SELECT avatar, nickname,id FROM  b_user where id in
        <foreach collection="keys"  item="userId" separator="," open="(" close=")">
        #{userId}
        </foreach>
    </select>
    <select id="selectPublicUserImHistoryList" resultType="com.liy.vo.message.ImMessageVO">
        SELECT u.avatar as fromUserAvatar, u.nickname as fromUserNickname, im.*
        FROM b_im_message im
                 left join b_user u on im.from_user_id = u.id
        where (im.to_user_id = #{fromUserId} OR im.from_user_id = #{fromUserId})
          and (im.to_user_id = #{toUserId} OR im.from_user_id = #{toUserId})
        order by im.create_time desc
    </select>
    <select id="selectListReadByUserId" resultType="java.lang.Integer">
        select count(id) from b_im_message where to_user_id=#{fromUserId} and from_user_id=#{toUserId} and is_read = 0
    </select>

    <select id="getMessageNotice" resultType="com.liy.vo.message.ImMessageVO">
        SELECT u.avatar as fromUserAvatar, u.nickname as fromUserNickname,a.id as articleId,a.title as articleTitle, im.*
        FROM b_im_message im
                 left join b_user u on im.from_user_id = u.id
                 left join b_article a on a.id = im.article_id
        where im.to_user_id = #{userId}

        <choose>
            <when test="noticeType != null">
                and notice_type=#{noticeType}
            </when>

            <otherwise>
                and notice_type = 5
            </otherwise>
        </choose>
        order by im.create_time desc
    </select>
</mapper>
